.super-deal {
  position: absolute;
  bottom: 10%;
  left: 0;
}
.new {
  position: absolute;
  bottom: 18%;
  left: 0;
}
/* .product-name {
}
.product-price {
} */
.slick-prev {
  right: 1% !important;
  z-index: 1;
}
.slick-next {
  right: 1% !important;
  z-index: 1;
}
