.burger {
  font-size: 23px;
  background-color: #f8f9fa;
  border: 1px solid grey;
  height: 40px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
}
.search {
  font-size: 22px;
  margin-top: 0.1rem !important;
}
.search-word {
  margin-top: 0.2rem;
}

/* .modal-content {
  position: absolute;
  top: -28px;
  left: -295px;
} */

@media only screen and (max-width: 766px) {
  .search {
    margin-top: 0.6rem !important;
    margin-left: 15px;
  }
  .modal-content {
    position: absolute;
    top: -8px;
    left: -8px;
    /* { */
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  /* } */
}
